/**
*	COLORS
*/
/**
*	PAGE DEFAULT SETTINGS
*/
/**
*	TEXT 
*	Config for texts (sizes, colors, etc.)
*/
/**
*	BUTTON
*/
/**
*	NAVBAR
*/
/** 
*	CARD
*/
/**
*	SIDE NAV
*/
/**
*	GREETING WIDGET
*/
/** 
*	TAB NAV
*/
/**
*	CHECKBOX
*/
/**
*	Account Details
*/
/**
*	Credit Card Details
*/
.bg-blue-light {
  background: #2196F3; }

.bg-blue-extra-light {
  background: #6a96c3; }

.bg-blue-dark {
  background-color: #00324d; }

.bg-brand-gradient {
  background: linear-gradient(#00356c, #00539b); }

.text-hightlight {
  color: #ffda19; }

.radius-1 {
  border-radius: 2px; }

.radius-2 {
  border-radius: 3px; }

.radius-3 {
  border-radius: 4px; }

.radius-4 {
  border-radius: 5px; }

.radius-5 {
  border-radius: 6px; }

.radius-6 {
  border-radius: 7px; }

.radius-7 {
  border-radius: 8px; }

.radius-8 {
  border-radius: 9px; }

.radius-9 {
  border-radius: 10px; }

.radius-10 {
  border-radius: 11px; }

.border-bottom-secondary {
  border-bottom: 1px solid #ced4da; }

.border-bottom-white-faded {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2); }

.border-left-white {
  border-left: 1px solid #FFFFFF; }

.border-top-secondary {
  border-top: 1px solid #ced4da; }

.border-right-secondary {
  border-right: 1px solid #ced4da; }

.border-left-secondary {
  border-left: 1px solid #ced4da; }

.w-20 {
  width: 20% !important; }

.w-30 {
  width: 30% !important; }

.w-40 {
  width: 40% !important; }

.w-60 {
  width: 60%; }

.w-auto {
  width: auto !important; }

.fix-to-bottom,
.fix-to-bottom-sm,
.fix-to-bottom-md {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%; }
.text-light {
    color: #f8f9fa!important;
}
.font-weight-light {
    font-weight: 300!important;
}
@media (min-width: 576px){
	
.pb-sm-4, .py-sm-4 {
    padding-bottom: 1.5rem!important;
}
}
@media (min-width: 576px){
.pt-sm-4, .py-sm-4 {
    padding-top: 1.5rem!important;
}
}
@media only screen and (max-width: 591px) {
  .login-tip {
    display: none; } }
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}

.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
.col-login{
	flex-basis: 0;
	flex-grow: 1;
	max-width: 100%;
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

@media only screen and (max-width: 575px) {
  .hide-xs {
    display: none; }
  .fix-to-bottom-sm {
    position: static; } }

@media only screen and (max-width: 767px) {
  .hide-sm {
    display: none; }
  .fix-to-bottom-md {
    position: static; } }

@media only screen and (max-width: 991px) {
  .hide-md {
    display: none; } }

@media only screen and (max-width: 1199px) {
  .hide-lg {
    display: none; } }

.text-brand {
  color: #004785; }

.text-extra-light {
  color: #B7B7B7; }

.text-blue {
  color: #002A4E !important; }

.text-blue a {
  color: #002A4E !important; }

.text-white a {
  color: #FFFFFF; }

.text-black {
  color: black; }

.text-xs, .message-timestamp {
  font-size: 11px; }

.text-sm {
  font-size: 13px; }

.text-default, .message {
  font-size: 15px; }

.text-md, .message-date {
  font-size: 18px; }

.text-lg, .navbar-notification {
  font-size: 21px; }

.text-xl {
  font-size: 28px; }

.text-xxl {
  font-size: 35px; }

.text-underline {
  text-decoration: underline; }

.btn {
  font-weight: 100; }

.form-group .btn {
  border-radius: .3rem; }

.btn-action {
  min-width: 140px;
  border-radius: .25rem; }

.btn-brand {
  color: white;
  background-color: #00539b;
  background-image: none; }
  .btn-brand:hover, .btn-brand:active, .btn-brand:focus {
    color: white;
    background-color: #005380; }
/* modified by adity for cc details button */
.btn-outline-brand {
  color: #004785 !important;
  background-color: transparent;
  background-image: none;
  border-color: #004785;
  border: 1px solid !important; 
    box-shadow: none;}
  .btn-outline-brand:hover, .btn-outline-brand:active, .btn-outline-brand:focus {
    color: #FFFFFF !important;
    background-color: #004785;
    border-color: #004785 !important; }
.btn-link {
	text-transform: none;
}
.w-100 {
    width: 100%!important;
}
.btn-no-fill {
  background-color: transparent; }

/* The container */
.checkbox {
  display: block;
  position: relative;
  padding-left: 30px;
  margin-bottom: 0;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

/* Hide the browser's default checkbox */
.checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer; }

/* Create a custom checkbox */
.checkbox-checkmark {
  position: absolute;
  top: 5px;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #FFFFFF;
  border-radius: 2px;
  border: 1px solid rgba(0, 0, 0, 0.3); }

.checkbox:hover input ~ .checkbox-checkmark {
  background-color: #CCCCCC; }

/* When the checkbox is checked, add a blue background */
.checkbox input:checked ~ .checkbox-checkmark {
  background-color: #2196F3; }

/* Create the checkmark/indicator (hidden when not checked) */
.checkbox-checkmark:after {
  content: "";
  position: absolute;
  display: none; }

/* Show the checkmark when checked */
.checkbox input:checked ~ .checkbox-checkmark:after {
  display: block; }

/* Style the checkmark/indicator */
.checkbox .checkbox-checkmark:after {
  left: 4px;
  top: 2px;
  width: 5px;
  height: 9px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg); }

.card {
  display: flex;
  flex-direction: column;
  border: 0px;
  background: #FFFFFF;
  margin-bottom: 10px;
  margin-top:0;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px; }
  .card .btn {
    border-width: 0; 
/*     padding-top:10px;  */
  }
  .card-collapsed{
  margin-bottom: 10px;
  }
  .card .btn-border {
    border-width: 1px; }

a.card:hover {
  text-decoration: none; }

.card-sm .card-body {
  padding: 0.6rem 1rem; }

.card-hover {
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
  line-height: 1.5;
   }
   .row {
    display: -ms-flexbox;
    display: block;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px; 
    margin-left: 0px;
}
  .card-hover:hover {
    z-index: 10;
    box-shadow: 5px 10px 10px 5px rgba(0, 0, 0, 0.1); }

.card-bordered {
  border-radius: 0 !important; }
  .card-bordered .card-header,
  .card-bordered .card-body {
    border-radius: 0 !important; }
  .card-bordered .card-body {
    border-bottom: 3px solid #002b5c; }

.card-widget {
  background: linear-gradient(#00539b, #11998e);
  color: white; }
  .card-widget .card-body {
    padding: 0.5rem; }
  .card-widget:hover {
    color: white; }

.card-no-shadow {
  box-shadow: none;
  border: 1px solid #ced4da; }

.card-header {
  flex: 1 1 auto;
  padding: 1rem;
  background: #dfe7ed;
  color: #00356c;
  font-size: 22px;
  font-weight: 600;
  border-radius: 5px !important; }

.card-header-secondary {
  background: #002b5c; }



.card-header-blue-gradient {
  color: white;
  background: linear-gradient(#00356c, #00539b);
  font-weight: 600; }

.card-header-blue {
  color: white;
  background: #00539b;
  font-weight: 400; }

.card-header-sm {
  padding: 7px 10px;
  font-size: 1em; }

img.card-header-icon {
  height: 45px;
  margin: 0 7px 0 0; }

i.card-header-icon {
  margin: 0 10px 0 0;
  font-size: 30px; }

.card-header-button {
  float: right;
  font-size: 13px;
  padding: 0.6rem 1.5rem;
  margin: 0 5px; }
  .card-header-button i {
    margin: 0 5px;
    font-size: inherit;
     }
  .card-header-button.btn-no-fill {
    font-size: 17px;
    padding: 5px;
    font-weight: 600; 
	background: none !important;
    border: none !important;
	}

.nav-action-links .nav-link {
  border-bottom: 1px solid #F1F1F1;
  padding: 16px 7px;
  color: #004785; }
  .nav-action-links .nav-link i {
    float: right;
    position: relative;
    top: 3px; }
  .nav-action-links .nav-link:hover {
    background: #F1F1F1; }

.nav-action-links .nav-link {
  border-bottom: 1px solid #F1F1F1;
  padding: 16px 7px;
  color: #004785; }
  .nav-action-links .nav-link i {
    float: right;
    position: relative;
    top: 3px; }
  .nav-action-links .nav-link:hover {
    background: #F1F1F1; }

.sticky-nav-wrapper {
  position: relative; }

.sticky-nav {
  position: relative; }

@media only screen and (min-width: 992px) {
  .sticky-nav-fixed {
    position: fixed;
    top: 0;
    z-index: 1; } }

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .wukless {
    position: relative;
    bottom: 0 !important; } }

.greeting-widget {
  border-radius: 15px;
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  background: #FFFFFF; }

.greeting-widget-header {
  background: #E3E3E3;
  border-radius: 15px 15px 0 0;
  padding: 13px 50px; }

.greeting-widget-header-icon {
  height: 80px;
  float: right; }

.greeting-widget-body {
  padding: 13px 50px; }

.tab-navs .card-header {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important; }

.tab-navs .nav-link {
    position: relative;
    font-size: 17px;
    padding: 0.8rem 2rem;
    background: #E5E5E5;
    border-top: 3px solid transparent;
    border-right: 1px solid #B7B7B7;
    color: #6c757d;
    -webkit-transition: 0.2s;
    -moz-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
  .tab-navs .nav-link.active, .tab-navs .nav-link.active:hover {
	background: #b7b7b7;
    color: #495057;
    font-weight: 600;
    border-right-color: transparent;
}
  .tab-navs .nav-link:hover {
    border-top-color: #002b5c;
    color: #002b5c; }
  .tab-navs .nav-link.active:after {
    content: " ";
    position: absolute;
    bottom: -1px;
    left: 20px;
    height: 12px;
    width: 28px;
    z-index: 1;
    background: #00539B;
    -moz-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -ms-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -o-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -webkit-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -moz-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -ms-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -o-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
    clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); }

.rp-dropdown {
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  background-color: #FFFFFF;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  margin-bottom: 20px; }
  .rp-dropdown .nav-item {
    width: 100%; }

.rp-dropdown-active {
  background-color: #004785;
  padding: 18px 25px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-clip: padding-box;
  /* stops bg color from leaking outside the border: */
  box-shadow: 0px 1px 5px 1px rgba(0, 0, 0, 0.1);
  color: #FFFFFF;
  margin-bottom: 10px;
  cursor: pointer; }

.rp-dropdown .nav-link.active:after {
  background-color: #E3E3E3; }

.tab-navs .rp-dropdown .nav-link.active {
  background: #E3E3E3;
  color: black;
  border-left: 4px solid #ffda19; }
  .tab-navs .rp-dropdown .nav-link.active:hover {
    background: #E3E3E3;
    color: black;
    border-left: 4px solid #ffda19; }

#breadcrumb {
  list-style: none;
  display: inline-block; }
  #breadcrumb .icon {
    font-size: 14px; }
  #breadcrumb li {
    float: left; }
    #breadcrumb li a {
      color: #002b5c;
      display: block;
      background: #d4d4d4;
      text-decoration: none;
      position: relative;
      height: 40px;
      line-height: 40px;
      padding: 0 10px 0 5px;
      text-align: center;
      margin-right: 23px; }
    #breadcrumb li:first-child a {
      padding-left: 15px;
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px;
      border-radius: 4px 0 0 4px; }
      #breadcrumb li:first-child a:before {
        border: none; }
    #breadcrumb li:last-child a {
      padding-right: 15px;
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0;
      border-radius: 0 4px 4px 0; }
      #breadcrumb li:last-child a:after {
        border: none; }
    #breadcrumb li a:before, #breadcrumb li a:after {
      content: "";
      position: absolute;
      top: 0;
      border: 0 solid #d4d4d4;
      border-width: 20px 10px;
      width: 0;
      height: 0; }
    #breadcrumb li a:before {
      left: -20px;
      border-left-color: transparent; }
    #breadcrumb li a:after {
      left: 100%;
      border-color: transparent;
      border-left-color: #d4d4d4; }
    #breadcrumb li a:hover {
      background-color: #002b5c;
      color: #fff; }
      #breadcrumb li a:hover:before {
        border-color: #002b5c;
        border-left-color: transparent; }
      #breadcrumb li a:hover:after {
        border-left-color: #002b5c; }
    #breadcrumb li a:active {
      background-color: #002b5c; }
      #breadcrumb li a:active:before {
        border-color: #002b5c;
        border-left-color: transparent; }
      #breadcrumb li a:active:after {
        border-left-color: #002b5c; }
    #breadcrumb li.active a {
      background-color: #002b5c;
      color: #fff; }
      #breadcrumb li.active a:after {
        background-color: #002b5c; }
    #breadcrumb li.ative a:before, #breadcrumb li.active a:after {
      border-color: #002b5c; }

.message-window {
  max-height: 500px;
  padding: 0 10px;
  overflow-y: auto;
  overflow-x: hidden; }

.message {
  border: 1px solid #e2e6e9;
  padding: 10px;
  border-radius: 6px;
  margin: 10px 0; }

.message-incoming {
  background: #f2fdff; }

.message-date {
  color: #B7B7B7;
  text-align: center; }

.message-timestamp {
  float: right;
  color: #6E6E6E; }

.notification-img {
  display: inline-block;
  border-radius: 50%;
  background: #E3E3E3;
  height: 50px;
  width: 50px; }

.material .group {
  position: relative;
  margin-bottom: 17px; 
  display:block;
  }

.material input[type='text'], .material input[type='password'] {
  font-size: 18px !important;
  display: block;
  border: none !important;
  width: 100%;
  border-bottom: 1px solid #969494 !important;
  background: transparent;
  background-color: transparent !important;
  box-shadow:none !important; }

.material input:focus {
  outline: none; border:none !important;
   box-shadow:none !important; }

.material label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 5px;
  top: 10px;
  transition: 0.2s ease all; }


/* .material input:valid ~ label{ */
/* 	top: -10px; */
/*   color: #5264AE;  */
/* } */
.material .bar {
  position: relative;
  display: block;
  width: 100%; }

.material .bar:before, .material .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 0;
  position: absolute;
  background: #5264AE;
  transition: 0.2s ease all; }

.material .bar:before {
  left: 50%; }

.material .bar:after {
  right: 50%; }

.material input:focus ~ .bar:before, .material input:focus ~ .bar:after {
  width: 50%; }
.material input:focus ~ label, .material input:valid ~ label {
  top: -10px;
  color: #5264AE; }
.material .highlight {
  position: absolute;
  height: 60%;
  width: 100px;
  top: 25%;
  left: 0;
  pointer-events: none;
  opacity: 0.5; }
.auth2Screen .label-user{
	top: -10px;
  color: #5264AE;
}
.material input:focus ~ .highlight {
  animation: inputHighlighter 0.3s ease; }

.material i {
  margin-top: -27px; }

.material-textbox i {
  margin-top: -27px; }

@keyframes inputHighlighter {
  from {
    background: #5264AE; }
  to {
    width: 0;
    background: transparent; } }

.modal-header-blue {
  background-color: #002b5c;
  color: #FFFFFF; }

.custom-carousel li {
  background-color: #E3E3E3; }

.custom-carousel li.active {
  background-color: #002b5c; }

.navbar-top {
  background-color: #FFFFFF;
  padding: 20px; }

.navbar-bottom {
  background-image: url("../images/newsbg.png");
  min-height: 200px;
  background-color: #00324D;
  width: 100%; }

.navbar-logo {
  display: inline-block;
  max-height: 40px;
  height: 100%;
  width: auto; }

.navbar-search input {
  border-radius: 40px;
  height: 42px;
  width: 100%;
  border: 1px solid #828080;
  padding: 0 20px 0 30px; }

.navbar-search i {
  position: absolute;
  left: 35px;
  top: 14px;
  color: #B7B7B7; }

.navbar-notification {
  display: inline-block;
  position: relative; }
  .navbar-notification.active:after {
    content: "";
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    background: #ffc107;
    border: 1px solid #FFFFFF;
    top: 5px;
    right: -3px; }

.navbar-profile-img {
  height: 35px;
  width: 35px;
  border-radius: 50%;
  margin-left: 10px; }

.navbar-nav-container {
  height: auto;
  background-color: rgba(0, 0, 0, 0.1); }
  .navbar-nav-container .nav-link {
    color: white;
    font-weight: 100;
    padding: 15px 20px 15px 20px; }
  .navbar-nav-container .nav-item {
    margin: 0 30px 0 0; }
  .navbar-nav-container .dropdown-menu {
    border-radius: 0;
    margin: 0; }
    .navbar-nav-container .dropdown-menu:after {
      content: "";
      position: absolute;
      top: -10px;
      left: 20px;
      height: 12px;
      width: 28px;
      background: white;
      -moz-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -ms-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -o-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -webkit-shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      shape-outside: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -moz-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -ms-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -o-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      -webkit-clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%);
      clip-path: polygon(50% 0, 50% 0, 100% 100%, 0 100%); }
  .navbar-nav-container .dropdown-item {
    border-left: 5px solid transparent; }
    .navbar-nav-container .dropdown-item:hover {
      border-color: #ffda19; }

.navbar-collapse .dropdown:hover > .dropdown-menu {
  display: block; }

.navbar-collapse .dropdown > .dropdown-toggle:active {
  pointer-events: none; }

.navbar-nav-responsive {
  position: fixed;
  overflow-x: hidden;
  width: 0;
  height: 100%;
  z-index: 2;
  top: 0;
  left: 0;
  background-color: #00324D;
  transition: 0.5s;
  padding-top: 60px; }
  .navbar-nav-responsive.active {
    width: 250px; }
  .navbar-nav-responsive .nav {
    width: 250px; }
  .navbar-nav-responsive .nav-item {
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    width: 100%; }
  .navbar-nav-responsive .dropdown-toggle:after {
    position: absolute;
    right: 10px;
    top: 25px; }
  .navbar-nav-responsive .dropdown-menu {
    min-width: 250px; }
  .navbar-nav-responsive .navbar-action-links,
  .navbar-nav-responsive .navbar-profile {
    width: 250px; }
    .navbar-nav-responsive .navbar-action-links .text-dark,
    .navbar-nav-responsive .navbar-profile .text-dark {
      color: #B7B7B7 !important; }

.navbar-nav-close {
  position: absolute;
  display: block;
  top: 0;
  right: 25px;
  padding: 8px 8px 8px 32px;
  font-size: 36px;
  color: #818181;
  transition: 0.3s; }
  .navbar-nav-close:hover, .navbar-nav-close:active, .navbar-nav-close:focus {
    text-decoration: none;
    color: #f1f1f1; }

.navbar-page-heading {
  padding: 40px 0 20px 170px;
  color: white; }

.navbar-page-icon {
  height: 80px;
  width: auto; }

@media only screen and (max-width: 768px) {
  .navbar-logo {
    margin-bottom: 10px; } }

.chart-label {
  height: 10px;
  width: 10px; }

.quick-search {
  box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background: white;
/*   margin-bottom: 10px; */
  display: flex; }

.quick-search-title {
  background: #00324d;
  width: 170px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  color: white;
  padding: 30px 0px;
  font-size: 22px !important;
  border-radius: 5px 0 0 5px;
  margin-left: 0px }

.quick-search-content {
  padding: 15px 0;
  display: flex;
  flex: 1; }
  .quick-search-content .row {
    margin-left: 0;
    width: 100%; }
  .quick-search-content .size-1 {
    flex: 1; }

@media only screen and (max-width: 768px) {
  .quick-search {
    display: block; }
  .quick-search-title {
    width: 100%;
    display: block;
    font-size: 20px;
    border-radius: 5px 5px 0 0;
	}
}

.badge-status {
  padding: 4px;
  min-width: 100px; }

.login-container {
/*   position: fixed; */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: column;
  background: url("../images/login-bg.jpg") no-repeat center center fixed !important;
  -webkit-background-size: cover; }
  .login-container .footer-bottom {
    box-shadow: 0 2px 20px 5px rgba(0, 0, 0, 0.2); }
.bg-dark {
    background-color: #343a40!important;
}
.pl-4, .px-4 {
    padding-left: 1.5rem!important;
}
.pr-4, .px-4 {
    padding-right: 1.5rem!important;
}
@media only screen and (min-width: 576px){
.col-sm-4 {
    -webkit-box-flex: 0 0 33.33333%;
    -moz-box-flex: 0 0 33.33333%;
    -webkit-flex: 0 0 33.33333%;
    -ms-flex: 0 0 33.33333%;
    flex: 0 0 33.33333%;
    max-width: 33.333333%;
}
}
.col-sm-4{
	width: 100%;
    min-height: 1px;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-4, .py-4 {
    padding-top: 1.5rem!important;
}
.pl-3, .px-3 {
    padding-left: 1rem!important;
}
.pr-3, .px-3 {
    padding-right: 1rem!important;
}
.row-login {
    display: -moz-box-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    min-height: 300px;
}
.login-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  height: calc(100vh - 6.8rem);
  overflow-y: auto;
 /**fix for login page in IE -START*/
    flex: 1 1 auto;
/*fix for login page END in IE -END*/
  }

.login-logo, .workflow-logo {
  max-width: 220px;
  width: 100%; }
  
/*adity:: changing margin and top padding to accommodate online security etall on login screen when error comes jira- DRIBU-133 */
.login-card {
  max-width: 800px;
  width: 100%;
  margin: 2.5rem auto auto auto;
  padding: 0px 10px 10px 10px; 
}

.login-navs {
  max-width: 800px;
  width: 100%;
  display: flex;
  justify-content: center;
  margin: auto;
  padding-bottom: 15px; }

.login-card-header,
.login-card-header:before {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px; }



.login-card-header {
  background: linear-gradient(#297fc9, #04305d);
  padding: 0;
  position: relative; }

.login-card-body,
.login-card-body:before {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px; }

.login-card-body {
  background: white;
  background-image: url(../images/newsbg.png); }
.pl-5, .px-5 {
    padding-left: 3rem!important;
}
/* added by adity for cc details screen */
.pb-3, .py-3 {
    padding-bottom: 1rem!important;
}
.pr-5, .px-5 {
    padding-right: 3rem!important;
}
.pb-4, .py-4 {
    padding-bottom: 1.5rem!important;
}
.pt-3, .py-3 {
    padding-top: 1.5rem!important;
}
.login-card-header:before,
.login-card-body:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  box-shadow: 0 0 20px 5px rgba(0, 0, 0, 0.1); }

.login-tip {
  width: 0;
  height: 0;
/*   left: 24px; */
  right:24px;
  top: 0px;
  border-top: 22px solid transparent;
  border-right: 25px solid #e4e4e4;
  border-bottom: 22px solid transparent;
  position: relative;
  float: RIGHT; }

.login-navs {
  position: relative; }
  .login-navs .nav-item {
    position: relative;
    display: block !important; }
    .login-navs .nav-item:after {
      content: "|";
      position: absolute;
      right: 0;
      top: 7px;
      color: white; }
    .login-navs .nav-item:last-child:after {
      content: ""; }
  .login-navs .nav-link {
    color: white; }

@media only screen and (max-width: 767px) {
  .login-container {
    position: static;
    display: block; }
  .login-card-header,
  .login-card-header:before {
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0; }
  .login-card-body,
  .login-card-body:before {
    border-top-right-radius: 0;
    border-bottom-left-radius: 5px; } }

.workflow-container {
  display: -moz-box-flex;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.workflow-left-pane {
  max-width: 260px;
  width: 100%;
  padding: 20px;
  background: linear-gradient(#00356c, #00539b);
  position: relative;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.workflow-header {
  background: #00539b;
  padding: 20px 40px;
  min-height: 120px;
  display: -moz-box-flex;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex-direction: column;
  /* OLD - Firefox 19- */
  -webkit-flex-direction: column;
  /* Chrome */
  -ms-flex-direction: column;
  /* IE 10 */
  flex-direction: column;
  justify-content: center; }

.workflow-right-area {
  flex: 1;
  display: -moz-box-flex;
  /* OLD - Firefox 19- (buggy but mostly works) */
  display: -ms-flexbox;
  /* TWEENER - IE 10 */
  display: -webkit-flex;
  /* NEW - Chrome */
  display: flex;
  /* NEW, Spec - Opera 12.1, Firefox 20+ */
  /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-flex-direction: column;
  /* OLD - Firefox 19- */
  -webkit-flex-direction: column;
  /* Chrome */
  -ms-flex-direction: column;
  /* IE 10 */
  flex-direction: column;
  position: relative; }

.workflow-main {
  position: relative;
  flex: 1;
  padding: 40px;
  padding-top: 20px;
  overflow-y: auto;
  padding-bottom: 10px;
  background: white;
  background-image: url(../images/newsbg.png); }

.workflow-help {
  background: #e3e3e3;
  padding: 5px 40px; }

.workflow-pagination {
  text-align: center;
  padding: 0;
  margin: 0;
  padding-bottom: 20px; }
  .workflow-pagination li {
    height: 10px;
    width: 10px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    margin-left: 3px; }
    .workflow-pagination li.active {
      background-color: #2196F3; }

.workflow-instructions {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  background: #e3e3e3;
  height: 0;
  overflow: hidden;
  -webkit-transition: 0.2s;
  -moz-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }
  .workflow-instructions.active {
    height: 100%;
    overflow-y: auto; }

@media only screen and (max-width: 767px) {
  .workflow-container {
    /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex-direction: column;
    /* OLD - Firefox 19- */
    -webkit-flex-direction: column;
    /* Chrome */
    -ms-flex-direction: column;
    /* IE 10 */
    flex-direction: column; }
  .workflow-left-pane {
    max-width: none;
    padding-bottom: 0; }
  .workflow-header {
    display: block;
    padding: 0 20px 20px;
    min-height: 0; }
    .workflow-header .text-xl {
      font-size: 14px; } }

body {

  /*fix for dashboard page in IE -START*/
    background-color: rgb(250,250,250);
	height: 100% !important;
  /**background-color: #F4F4F4;*/
   /*fix for dashboard page in IE -END*/
  font-family: "Roboto", sans-serif; }

#logo {
  padding: 5px;
  width: 80%; }

.test {
  border: 1px solid red; }

.bg-grey {
  background: #e9ecef; }

.fas {
  margin-right: 5px; }

.border-radius {
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.shadow {
  -webkit-box-shadow: 0px 1px 5px 1px 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0px 1px 5px 1px 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 1px 5px 1px 0px 1px 1px 1px rgba(0, 0, 0, 0.1); }

.top-banner {
  background-color: #FFFFFF;
  padding: 20px; }

.search input {
  border-radius: 40px;
  height: 42px;
  width: 100%;
  border: 1px solid #828080;
  padding-left: 20px; }

.search i {
  position: absolute;
  left: 35px;
  top: 18px; }

.bottom-banner {
  background-image: url("../images/newsbg.png");
  min-height: 200px;
  background-color: #00539B;
  width: 100%; }

.menu {
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1); }
  .menu .nav-link {
    color: #FFFFFF;
    font-family: "Roboto", sans-serif;
    font-weight: 100; }
  .menu .nav-item {
    padding-right: 40px; }

.page-title {
  margin-top: 46px; }

.page-title-heading, .page-title-sub-heading {
  color: #FFFFFF;
  font-weight: 100; }

/* .content { */
/*   padding-top: 40px; } */

#accordion .card-header {
  cursor: pointer; }
  
 #accordion .card-header-retail {
  cursor: pointer; }
  
 #accordion .card-header-corp {
  cursor: pointer; }
  

.gradient-panel {
  background: linear-gradient(#00539B, #002A4E); }

.panel-header,
.panel-header-sm {
  background: linear-gradient(#00539B, #002A4E);
  padding: 20px;
  font-weight: 100;
  color: #fff;
  font-size: 22px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px; }

.panel-header-sm {
  padding: 7px 10px;
  font-size: 1em; }

.nav-link .fa-chevron-right {
  float: right; }

.btn-primary {
  background: #00539b; }

.contact-info {
  background-color: #002b5c;
  width: 100%;
  padding: 18px;
  color: #fff;
  font-size: 0.8rem;
  margin-bottom: 20px;
  margin-top: 20px; }

.footer-icons {
  height: 40px;
  margin-right: 10px;
  margin-top: -3px; }

.contact-info-title {
  font-weight: bold; }

.contact-info-desc {
  font-weight: 100; }

.footer {
  background-color: #F4F4F4;
  padding: 30px 30px 20px;
  color: #04182f; }

.footer-bottom {
  padding: 20px;
  color: #fff;
  background-color: #383737;
  font-size: 0.8rem; }

.navbar-toggler-icon {
  color: #fff;
  margin-top: 6px; }

.light-blue-gradient {
  background-image: linear-gradient(to bottom, #569ff0, #458ada, #3475c5, #2261af, #0a4d9a); }

.has-tip::after {
  font-family: FontAwesome;
  content: "\f163"; }

#up-arrow {
  display: none; }

@media only screen and (min-width: 320px) and (max-width: 992px) {
  .inner-table, .bill-summary {
    display: none !important; }
  #up-arrow {
    display: block;
    text-align: center;
    color: #0a386e; } }

#profile-img {
  height: 171px;
  width: 171px;
  border: 3px solid white; }

.text-down {
  margin-bottom: 5%; }

.RSA-container {
  margin-top: 3%;
  margin-left: 5%;
  border-radius: 5px;
  background-color: #B7B7B7;
  border: 15px solid #B7B7B7;
  width: 510.17px;
  height: 68.56px; }

#RSA-input {
  width: 96%; }

#RSA-img {
  width: 68.5px;
  height: 38px;
  margin-left: 4.5%; }

.RSA-line {
  border-left: 3px solid black;
  height: 38px;
  margin-left: 3%; }

.input-group-prepend {
  width: 180%; }

.bullet-list {
  font-size: 0.3em; }

.color-change {
  color: #0a386e; }
  .color-change span {
    color: black; }

.port-image {
  width: 100%; }

.gallery_product {
  margin-bottom: 10px; }

.pointer {
  cursor: pointer; }

.checkmark {
  display: inline-block;
  width: 22px;
  height: 22px;
  -ms-transform: rotate(45deg);
  /* IE 9 */
  -webkit-transform: rotate(45deg);
  /* Chrome, Safari, Opera */
  transform: rotate(45deg); }

.checkmark_circle {
  position: absolute;
  width: 22px;
  height: 22px;
  background-color: #004785;
  border-radius: 11px;
  left: 0;
  top: 0; }

.checkmark_stem {
  position: absolute;
  width: 3px;
  height: 9px;
  background-color: #fff;
  left: 11px;
  top: 6px; }

.checkmark_kick {
  position: absolute;
  width: 3px;
  height: 3px;
  background-color: #fff;
  left: 8px;
  top: 12px; }

.page-link {
  background-color: #F4F4F4;
  color: #6E6E6E;
  font-size: 13px; }

.table-striped-blue-light tbody tr:nth-of-type(odd) {
  background-color: #e7f4f9; }

.transaction-history-text {
  color: #00324d;
  font-weight: bold; }

.text-card-name {
  color: #00539B; }

.text-cc-current-month-detail {
  color: #00324d; }
.pullDown-listing {
	margin-left: 25% !important;
}

.pullClass{
	 margin-left: 20% !important;
    margin-top: auto !important;
}
   

table > tbody > tr:hover {
  background-color: #FFFFFF;
}

table.singleTableHeading > tbody:hover {
  background-color: #FFFFFF;
}

table.multiTableHeading > tbody:hover {
  background-color: #FFFFFF;
}
.more.dropdown-button:after{
	font-weight: bold;
	color: #343a40;
}
.float-right {
    float: right!important;
}

.gray-btn{
    color: #fff;
    background-color: #6c757d;
}

.pageLeftContainer {
background: inherit;
}


.form-control {
    display: block;
    width: 100%;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.form-control-search {
    display: block;
    width: 95%;
    padding: .375rem .25rem;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da !important;
    border-radius: .25rem !important;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}
.form-control-search:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  }
.label-quick-search{
	margin-left:auto;
	margin-right:auto;
}
.search-button-span{
	margin-left:auto;
	margin-right: 1rem;
}
.customGroupletSection{
	width:100%;
}	
@media (min-width: 768px) {
	.col-md-2 {
    -ms-flex: 0 0 16.666667%;
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
	}
}
@media (min-width: 768px) {
	.col-md-1 {
    -ms-flex: 0 0 12.5%;
    flex: 0 0 12.5%;
    max-width: 12.5%;
	}
}
.card-body {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
    padding: 1.25rem;
}
@media (min-width: 768px) {
.col-md-3 {
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}
}



.card-header-retail {
  flex: 1 1 auto;
  padding: 1rem;
  background: #00539B;
  color: #FFFFFF;
  line-height: 2.5rem;
  font-size: 22px;
  font-weight: 100;
  border-radius: 5px !important; }
  
 .card-header-corp {
  flex: 1 1 auto;
  padding: 1rem;
  background: #dfe7ed;
  color: #00356c;
  line-height: 2.5rem;
  font-size: 22px;
  font-weight: 100;
  border-radius: 5px !important; }
.card-header-inverse {
  color: #004785;
  background: #FFFFFF;
  font-weight: 400; }
  
 .form-control:focus {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25) !important;
  }
  
  .hide{display:none !important}.show{display:block !important; background-color: #ffffff; margin-bottom:10px;}
.collapse{display:none; background-color: #ffffff; margin-bottom:10px;}.collapse.in{display:block !important}

.btn1-light-gray {
    color: #212529;
    background-color: #e9ecef;
    border-color: #e9ecef;
}
.btn1-light-gray:hover {
    color: #212529;
    background-color: #dadfe4;
    border-color: #dadfe4;
}
.btn1 {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: .25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn1:not(:disabled):not(.disabled) {
    cursor: pointer;
}

div {
	font-family: "Roboto", sans-serif; }
}


table {
    border-collapse: collapse;
}

.table1 {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border: none;
    
}

.table1 td, .table1 th {
    padding: .75rem !important;
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    font-family: "Roboto", sans-serif !important;
     font-size: 1rem !important;
}
.table1 th{
	font-weight:bold !important;
}
.table-striped>tbody>tr:nth-of-type(odd){background-color:rgba(0,0,0,.05)}

@media only screen and (min-width: 768px) {
.col-md-5 {
    -webkit-box-flex: 0 0 41.66667%;
    -moz-box-flex: 0 0 41.66667%;
    -webkit-flex: 0 0 41.66667%;
    -ms-flex: 0 0 41.66667%;
    flex: 0 0 41.66667%;
}
}

@media (min-width: 768px){
.col-md-5 {
    -ms-flex: 0 0 41.666667%;
    flex: 0 0 39.666667%;
    max-width: 39.666667%;
}
}
.col-md-5, .col-md-8{
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.row-summary {
	display: flex;
	justify-content: space-between;
	-ms-flex-wrap: wrap;
    flex-wrap: wrap;
     margin-right: 0px; 
    margin-left: 0px;
}
.labelColumn_combo_download_txh{
	background: none;
    position: relative;
/*     padding-right: 15px; */
    float: right;
 /*   width: 160px;   */
    padding: 0px 0px 5px 0.1em;
}
.labelColumn_combo_download_txh_search{
	background: none;
    position: relative;
/*     padding-right: 15px; */
/*     float: left; */
    width: 100%;
    padding: 0px 0px 5px 0.1em;
}
.labelColumn_combo_brdr_download_txh_search{
	background: none;
    position: relative;
    /* padding-right: 15px; */
/*     float: right; */
    height: 31px;
/*     background: url(../images/backgrounds/select.gif) #F5F5F5 no-repeat -700px 0px; */
    padding: 0 10px 0 0;
    display: block;
    width: 97%;
}
.labelColumn_combo_brdr_download_txh{
background: none;
    position: relative;
    /* padding-right: 15px; */
    float: right;
    height: 31px;
/*     background: url(../images/backgrounds/select.gif) #F5F5F5 no-repeat -700px 0px; */
    padding: 0 10px 0 0;
    display: block;
    width: 100%;
}
.labelColumn_combo_brdr_download_txh input[type="text"]{

    /* font-size: 14px; */
    color: #000000;
    /* height: 2.5rem; */
/*     margin-top: 4px; */
    background: transparent;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
}
.labelColumn_combo_brdr_download_txh_search input[type="text"]{

    /* font-size: 14px; */
    color: #000000;
    /* height: 2.5rem; */
/*     margin-top: 4px; */
    background: transparent;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
	
}
.ac-details-txh{
	color: #FFFFFF;
    font-size: 22px;
    font-weight: 100;
    margin-left: 10px;
}
.txn-history-col-2{
	text-align:right;
}
.btn-light{
	color: #212529;
    background-color: #f8f9fa;
    border-color: #f8f9fa;
}

@media only screen and (min-width: 576px){
.col-sm-6 {
flex: 0 0 50%;
max-width: 50%;	
}
}
@media (min-width: 576px){
.pr-sm-3, .px-sm-3 {
    padding-right: 1rem!important;
}
}
.form-group {
    margin-bottom: 1rem;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
    display: flex;
}
@media (min-width: 576px){
.pl-sm-3, .px-sm-3 {
    padding-left: 1rem!important;
}
}
.form-row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}
@media only screen and (min-width: 768px){
.col-md-6 {
	    flex: 0 0 50%;
	    max-width: 49%;
}
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}
.col-sm-6{
	    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 0px;
    padding-left: 0px;
}
.col-md-6{
	position: relative;
    width: 100%;
    min-height: 1px;
    display: flex;
    flex-wrap: wrap;
}
.row-search-panel{
	display: flex;
	flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

@media only screen and (min-width: 768px){
.col-md-7 {
	flex: 0 0 58.33333%;
	max-width: 58.333333%;
}
.col-md-7 {
	position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
/*     padding-left: 15px; */
}
}
select.form-control-sm:not([size]):not([multiple]) {
    height: calc(1.8125rem + 2px);
}
.w-auto {
    width: auto !important;
}
.mr-1, .mx-1 {
    margin-right: .25rem!important;
}
.form-control-sm{
padding: .25rem .5rem;
    font-size: .875rem;
    line-height: 1.5;
    border-radius: .2rem;
}
.row-chart{
	margin-right: -15px;
    margin-left: -15px;
    display: flex;
/*     flex-wrap: wrap; */
}
.light-blue-gradient {
    background: linear-gradient(#569ff0, #064895);
}
.text-sm {
    font-size: 13px;
}
.text-brand {
    color: #004786 !important;
}
.rounded-10 {
    
    border-radius: 10px;
    
   
}
.p-4 {
    padding: 1.5rem!important;
}
label {
  font-family: "Roboto", sans-serif;
}
p {
  font-family: "Roboto", sans-serif;
}
.ln-history{
	margin-left:20%
}
@media only screen and (min-width: 768px){
.col-md-8 {
    -webkit-box-flex: 0 0 66.66667%;
    -moz-box-flex: 0 0 66.66667%;
    -webkit-flex: 0 0 66.66667%;
    -ms-flex: 0 0 66.66667%;
    flex: 0 0 66.66667%;
}
}
@media (min-width: 768px){
.col-md-8 {
    -ms-flex: 0 0 66.666667%;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
}
}

.navbartoggle::after{
display: inline-block;
    width: 0;
    height: 0;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;	
}
.navbartoggle-sub-container::after{
	content: "";
    position: absolute;
    top: -10px;
    left: 20px;
    width: 0;
    height: 0;
    border-left: 14px solid transparent;
    border-right: 14px solid transparent;
    border-bottom: 12px solid white;
}
.lo{
	bottom: 10px !important;
/*     left: 250px !important; */
min-width: 100px;
    top: 20px;
}
.loginrow{
  margin-top: 40px;
}
.loginrow_imagePhrase {
    margin-top: 60px;
}
[type="checkbox"].filled-in:checked + span:before{
	border-right: 2px solid #000;
    border-bottom: 2px solid #000;
}

.view_closed_op_margin{
	margin-top:10px;
}

/* @media (min-width: 1200px){ */
/* .container-acct-header { */
/*     max-width: 1140px; */
/* }} */
/* @media (min-width: 992px){ */
/* .container-acct-header { */
/*     max-width: 960px; */
/* }} */
/* @media (min-width: 768px){ */
/* .container-acct-header { */
/*     max-width: 720px; */
/* } */
/* } */
/* @media (min-width: 576px){ */
/* .container-acct-header { */
/*     max-width: 540px; */
/* } */
/* } */
.container-acct-header {
   height: 137px;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: -170px;
    margin-left: -170px;
    
    padding-top: 150px;
    display: flex;
    background-image: url(../images/newsbg_1.png) !important;
    background-color: rgb(0, 75, 139) !important;
}

.navbar-page-icon-acct-header {
    height: 80px;
    width: auto;
    margin-top: -12px;
}
.d-inline-block {
    display: inline-block!important;
}
.align-middle {
    vertical-align: middle!important;
}
.pl-1, .px-1 {
    padding-left: .25rem!important;
}.pr-1, .px-1 {
    padding-right: .25rem!important;
}
.mt-3, .my-3 {
    margin-top: 1rem!important;
}
.text-uppercase {
    text-transform: uppercase!important;
}
.main1{
	padding-bottom: 18px;
    width: 100%;
    min-height: 900px;
    padding-top:90px;
}
.custom-radio{
	float: left;
    padding-top: 8px;
    padding-right: 5px;
    display:inline;
}